<!DOCTYPE html>
<html>
    
    <head>
        <title>User Facing</title>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    </head>

    <body>  <div class="container">
            <h2 class="form-signin-heading">Enter Phone #</h2>
            <label for="inputPhoneNum" class="sr-only">Phone #</label>
                <input type="text" id="inputPhoneNum" class="form-control" placeholder="1234567890" maxlength="10" required autofocus><br>
        <div class="row">

                <button class="btn btn-primary col-md-2" type="button">Room 101 <span class="badge">20</span></button>
                <button class="btn btn-primary col-md-2" type="button">Room 102 <span class="badge">20</span></button>
                <button class="btn btn-primary col-md-2" type="button">Room 109 <span class="badge">20</span></button>
                <button class="btn btn-primary col-md-2" type="button">Room 201 <span class="badge">20</span></button>
                <button class="btn btn-primary col-md-2" type="button">Room 202 <span class="badge">20</span></button>
                <button class="btn btn-primary col-md-2" type="button">Room 312 <span class="badge">20</span></button>
                <button class="btn btn-primary col-md-2" type="button">Room 317 <span class="badge">20</span></button>
                <button class="btn btn-primary col-md-2" type="button">Room 412 <span class="badge">20</span></button>
                <button class="btn btn-primary col-md-2" type="button">Room 505 <span class="badge">20</span></button>
                <button class="btn btn-primary col-md-2" type="button">Room 512 <span class="badge">20</span></button>
                <button class="btn btn-primary col-md-2" type="button">Room 517 <span class="badge">20</span></button>
                <button class="btn btn-primary col-md-2" type="button">Room 524 <span class="badge">20</span></button>
                <button class="btn btn-primary col-md-2" type="button">Room 605 <span class="badge">20</span></button>
                <button class="btn btn-primary col-md-2" type="button">Room 705 <span class="badge">20</span></button>
                <button class="btn btn-primary col-md-2" type="button">Room 805 <span class="badge">20</span></button>
                <button class="btn btn-primary col-md-2" type="button">Room 905 <span class="badge">20</span></button>
                <button class="btn btn-primary col-md-2" type="button">13th Floor <span class="badge">50</span></button>
                <button class="btn btn-primary col-md-2" type="button">Room 1302 <span class="badge">20</span></button>
        </div>
    </div> <!-- /container -->
        
    </body>

</html>